.highlights {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.highlights .products {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (orientation: portrait) {
    .highlights .products {
        row-gap: 8vh;
    }
}